<%- include("partials/header") %>
<%- include("partials/nav",{isSignedIn, userId}) %>
<% if(messages.error){%>
<div class="container alert alert-danger text-center">
    <%= messages.error %>
</div>
<%}%>
<% if(messages.success){%>
<div class="container alert alert-success text-center">
    <%= messages.success %>
</div>
<%}%>
<%- include("partials/sub-nav", {title:"Welcome to YelpCamp", subTitle:"View all Camp Grounds from all over the world", data: "Click To Explore", url:"/campgrounds"}) %>
<%- include("partials/footer") %>